<div style="background-color: #212121;color: #aaaaaa;text-align: center" class="w3-row-padding w3-center w3-margin-top">

<footer class="w3-container w3-theme-dark w3-padding-16">
  <div style="position:relative;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span> 
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <p>Powered by <a href="http://techran.lococoder.ir/" target="_blank">TechranCo</a></p>
</footer>
</div>
