  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div style="width: 80% ;margin: 0 auto">

  <app-search >

</app-search>

<ul *ngIf="news">
  <li *ngFor="let post of news">
    <h1 style="color: darkslateblue;font-size: 16px">{{ post.title }}</h1>
    <br>
    <br>
    <span style="font-size: 14px"> {{ post.body }}</span>
    <br>
    <br>
    <br>
    <div *ngIf="authors">
      <img src='{{getProfileImages(post.userId)}}'>
    <span style="font-size: 12px">{{getAutorProfile(post.userId)}}</span>
    </div>
  </li>
</ul>
</div>
