<br>
<div class=" emp-profile" style="background-color: #EEEEEE">
  <form method="post">
    <div class="row">

      <div class="col-md-3 ">
        <div class="profile-img">
          <img style="border-radius: 50%" src="{{getProfileImages(author.id)}}" alt=""/>
        </div>
      </div>

      <div class="col-md-4 " >
        <div class="profile-head">
          <h3 >
            {{ author.username}}
          </h3>
          <br>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">Name</label>
            </div>
            <div class="col-md-10">
              <p class="detail">{{ author.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">Email</label>
            </div>
            <div class="col-md-10">
              <p class="detail">{{ author.email}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">Phone</label>
            </div>
            <div class="col-md-10">
              <p class="detail">{{ author.phone}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">Company</label>
            </div>
            <div class="col-md-10">
              <p class="detail">                <span class="detail">{{author.company.name}}</span>
<!--                <br>-->
<!--                <span  class="detail" style="font-weight: 500">Catch Phrase :{{author.company.catchPhrase}}</span>-->
<!--                <br>-->
<!--                <span  class="detail" style="font-weight: 500">BS :{{author.company.bs}}</span></p>-->
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label class="myLable">BS</label>
            </div>
            <div class="col-md-10">
              <p class="detail">{{ author.company.bs}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 " >
        <div class="profile-head">
          <h3 style="color: #EEEEEE;">
            {{ author.username}}
          </h3>
          <br>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">User Id</label>
            </div>
            <div class="col-md-10">
              <p class="detail">{{ author.id}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">LINK</label>
            </div>
            <div class="col-md-10">
                        <a href="http://{{ author.website}}" class="detail">Website Link</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">Address</label>
            </div>
            <div class="col-md-10">
              <p class="detail"><span  class="detail">{{
                +author.address.suite
                + '-'
                + author.address.street
                + '-'
                + author.address.city
                + '-'
                + author.address.zipcode
                }}</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">Location</label>
            </div>
            <div class="col-md-10">
              <a
                href="https://maps.google.com/maps?q={{author.address.geo.lat}},{{author.address.geo.lng}}"
                style="color:#0000FF;text-align:left"
                target="_blank"
              >
                See on map
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="myLable">Catch</label>
            </div>
            <div class="col-md-10">
              <p class="detail">{{ author.company.catchPhrase}}</p>
            </div>
          </div>
        </div>
      </div>



      </div>

  </form>
</div>
<!--=====================================================================================-->
<div style="width: 80%;margin: 0 auto">

  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
</div>


<table id="myTable" class="table table-striped table-light" *ngIf="authorsNews">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let post of authorsNews" (click)="selectedPost=post"
      onclick="document.getElementById('id01').style.display='block'">
    <th scope="row">{{ post.id }}</th>
    <td>{{ post.title }}</td>
    <td>{{ post.body | slice:0:20}}...</td>
  </tr>

  </tbody>

</table>


<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-teal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
      <h2>{{selectedPost.title}}</h2>
    </header>
    <div class="w3-container">
      <p>{{selectedPost.id}}</p>
      <p>{{selectedPost.body}}</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Author: {{author.name}}</p>
    </footer>
  </div>
</div>




