@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
body,
html {
  height: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Montserrat';
  font-size: 18px;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;
}
.container a {
  color: white;
}
section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
