<ng-template #rt let-r="result" let-t="term" >
  <a  [routerLink]="['/author', r.id]" style="color: #212121;text-decoration: none" >
    <img [src]='getProfileImages(r.id)' class="mr-1" style="width: 35px">
    <ngb-highlight [result]="r.name"  [term]="t" >{{highlightAuthor===r.id}}</ngb-highlight>
  </a>
</ng-template>
    <br>
<div class="form-group has-search">
  <span class="fa fa-search form-control-feedback"></span>
  <input id="typeahead-template" type="text" class="form-control" placeholder="Search Authors" (keyup.enter)=goToAuthorPage(model.id)
         [(ngModel)]="model"
         [ngbTypeahead]="search "
         [resultTemplate]="rt"
         [inputFormatter]="formatter ">
</div>
<!--<input id="typeahead-template"   type="text" class="form-control " (keyup.enter)=goToAuthorPage(model.id)-->
<!--       [(ngModel)]="model"-->
<!--       [ngbTypeahead]="search "-->
<!--       [resultTemplate]="rt"-->
<!--       [inputFormatter]="formatter "/>-->

<div>
  <ul style="display:inline-block" class="list-inline" #div></ul>
</div>



